@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  background-image: url("./img/Group\ 66253.png");

}

.App , .wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.mainBoard{
  width: 600px;
  height: 470.67px;
  background-color: white;
  border-radius: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-top: 70px;
}

#title_in_box{
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  margin-top: 10%;
  font-weight: bolder;
}
p , h1{
  font-family: 'Montserrat', sans-serif;
}


#btn{

  background: rgb(253,43,124);
  background: linear-gradient(90deg, rgba(253,43,124,1) 20%, rgba(253,85,43,1) 55%);
  width: 500px;
  height: 40px;
  color: white;
  border-radius: 6px;
  border: none;
  font-size: large;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#img-logo{
  position: absolute;
  width: 100px;
  height: 25px;
  margin: 20px;

}






/* .password-toogle-icon{
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
} */

a{
  text-decoration: none;
  cursor: pointer;
}

#issue_repor_message{
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
  width: 80%;
  text-justify: auto;

}

.txt_1{
  padding-right: 60%;
}
.txt_2{
  padding-right: 10%;
}


#eye{
  position: absolute;
  /* padding-left: 260px;
  margin-top: -25px; */
  cursor: pointer;
  z-index: 1000;
}