@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  background-color: rgb(255, 255, 255);

}

.App{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;

}

.mainBoard{
  width: 657.45px;
  height: 530.67px;
  background-color: white;
  border-radius: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-top: 150px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  margin-top: 10%;
  font-weight: bolder;

}


#btn{

  background: rgb(250,45,124);
  background: linear-gradient(90deg, rgba(250,45,124,1) 20%, rgba(253,85,43,1) 50%, rgba(249,130,100,1) 85%);
  width: 500px;
  height: 40px;
  color: white;
  border-radius: 6px;
  border: none;
  font-size: large;
}

/* #inp_email{
  width: 500px;
}
#inp_pass{
  width: 500px;
} */
